<app-learning></app-learning>
<h3>{{ title }}</h3>
<ul>
  <li>
    <h4>Click here for <a target="_blank" rel="noopener" href="https://innersource.soprasteria.com/">InnerSource</a></h4>
  </li>
  <li>
    <h4>Go to Profile Icon (Top right corner) -> Settings -> Access Tokens (Left site bar), create a new token and save it</h4>
  </li>
  <li>
    <h4>Go to Innersource home, create a new project (Green button) and save the URL</h4>
  </li>
  <li>
    <h4>git clone https://:Y5XygGF1e9i92cK1ph8Y@innersource.soprasteria.com/alexandre.franca/malakes-learning.git //Go to your workspace and get a clone of the code https://:token@innersourceUrl</h4>
  </li>
  <li>
    <h4>git status //Showing the modified files</h4>
  </li>
  <li>
    <h4>git add . //Adding unversioned files</h4>
  </li>
  <li>
    <h4>git commit -m "Message" //Commiting all files to local clone</h4>
  </li>
  <li>
    <h4>git push -u //Push the code to the Master branch</h4>
  </li>
  <li>
    <h4>git branch (newBranchName) //Create a slave branch</h4>
  </li>
  <li>
    <h4>git checkout (newBranchName) //Select a slave branch</h4>
  </li>
  <li>
    <h4>git push --set-upstream origin (newBranchName) //Add slave branch to repository</h4>
  </li>
  <li>
    <h4>git fetch //Fetching new remote branches</h4>
  </li>
  <li>
    <h4>git branch --set-upstream-to=origin/(remoteBranchName) (newBranchName) //If you 'git branch (newBranchName)' an existing branch name, match local branch with remote branch</h4>
  </li>
  <li>
    <h4>git pull //Updates the clone branch with remote repo changes</h4>
  </li>
</ul>
