<app-learning></app-learning>
<h2>{{ title }}</h2>
<ul>
  <li>
    <h4>npm install //Build project, similarly to mvn build(we guess), create node_module</h4>
  </li>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://angular.io/guide/quickstart">Angular quickstart</a></h4>
  </li>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h4>
  </li>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h4>
  </li>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h4>
  </li>
  <li>
    Links provided by Ravinder:
    <ul>
      <li>
        Angular Tutorials
        <div><a target="_blank" rel="noopener" href="https://codecraft.tv/courses/angular/">Excellent.  It’s on Angular 5, even though the latest (1 month ago) is version 7, and the Digilab Welcome Screen is built on version 6. But Recommended</a></div>
        <div><a target="_blank" rel="noopener" href="https://angular-university.io/lesson/angular-beginners-conclusion">Angular university lessons</a></div>
        <div><a target="_blank" rel="noopener" href="https://blog.angular-university.io/">Angular university blog</a></div>  
      </li>
      <li>
        Angular resources
        <div><a target="_blank" rel="noopener" href="https://angular.io/api/core/">API core</a></div>
        <div><a target="_blank" rel="noopener" href="https://angular.io/guide/glossary">Guide glossary</a></div>
        <div><a target="_blank" rel="noopener" href="https://angular.io/guide/cheatsheet">Guide Cheatsheat</a></div>
      </li>
    </ul>
  </li>
</ul>