/* You can add global styles to this file, and also import other style files */
button {
    color: #0dbe57;
    background-color: #CFD8DC;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}